doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title devNexus Home
    link(rel="stylesheet", href="styles.css")
  body
    .container
      h1 Welcome to devNexus
      .button-container
        a.button(href="api-documentation.html") API Documentation
        a.button(href="login.html") Login
        a.button(href="signup.html") Sign Up
        a.button(href="/programming-languages/all") Programming Languages
        a.button(href="/areas-of-interest/all") Areas of Interest
        a.button(href="/technologies/all") Technologies