doctype html
html
  head
    title Projects Landing Page
  body
    header
      h1 Welcome to Projects Landing Page
    nav
      ul
        li
          a(href="/languages") List of Languages
        li
          a(href="/areas") List of Areas
        li
          a(href="/techs") List of Techs
        li
          a(href="/api-docs") API Documentation
    main
      h2 Featured Projects
      // Your featured projects content goes here...
    footer
      p © 2023 Your Company Name. All rights reserved.